/*#postTitle, #postContent, label span {
    display: block;
}



header ul li {
    display: inline;
    text-decoration: none;
}

header ul li a {
    text-decoration: none;
}



.min_header h1{
    color: grey;
    background-color: blue;
    font-size: 20px;
} */
