body {
    font-family: $copy_font;

}

h1, h2 {
    font-family: $display_font;
}

h3, .postDate {
    font-family: $secondary_display_font;
}

h1 {
    color: $link;
    &:hover {
        color: $link_hover;
    }
}

p {
    font-family: $copy_font;
}

#pageNav {
    text-decoration: none;
        li {
            text-decoration: none;
            display: inline;
            a {
                text-decoration: none;
                color: $link;
                background-color: #EDEDED;
                &:hover {
                    color: #fff;
                    background-color: $link_hover;
                }
                }
            }
        }
#blogNav {
    text-decoration: none;
        li {
            text-decoration: none;
            display: inline;
            background-color: #fff;
            span a {
                text-decoration: none;
                color: $link;
                &:hover {
                    color: #fff;
                }
                }
            &:hover {
                color: #fff;
                background-color: $link_hover;
            }
            }
        }


/*---   Blog Display Page   ---*/

h1 {
    font-size: 55px;
}

h3 {
    font-size: 15px;
    letter-spacing: .5em;
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 12px;
        letter-spacing: .2em;
    }
    #pageNav li a {
        font-size: 14px;
    }

}

.blogPageBlock {
    h2 {
        font-size: 24px;
    }
    &:first-child {
        h2 {
            font-size: 40px;
        }
    }
}

.single_post h2 {
    font-size: 40px;
}

.blogPageContinue {
    font-size: 30px;
    text-decoration: none;
    color: #E4E4E4;
    &:hover {
        color: $link_hover;

    }
}

a {
    text-decoration: none;
    h2 {
    color: $primary_text;
    font-size: 36px;
    &:hover {
        color: $link_hover;
        }
    }
}

.postDate {
    font-size: 12px;
}
