/* ----- Colors ----- */

$link: #2D3354;
$link_hover: #5D69AF;
$primary_text: #282D49;
$secondary_text: #52566B;
$copy_text: #303030;
$secondary_copy_text: #454545;

/* ----- Fonts -----*/
$display_font: 'Lobster', cursive;
$secondary_display_font: 'Josefin Slab', serif;
$copy_font: 'Slabo 27px', serif;

/* ----- Code ----- */
