{% if min_header %}
{% set min_header = "min_header" %}
{% endif %}


<!DOCTYPE html>
<html>
    <head>

        <title>Build-A-Blog</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    </head>
    <body>
        {% include "header.html" %}
        <section id="pageContent">
            {% block content %}
            {% endblock %}
        </section>
        {% include "footer.html" %}
    </body>
</html>
