{% extends "base.html" %}

{% block content %}
    {% if error %}
    <div class="error">
        <span>No such post with ID#{{ error }}</span>
    </div>
    {% endif %}
    {% for post in posts %}

    <article>
        <div class="blogPostHeader">
            <a href="/blog/{{post.key().id()}}"><h3>{{ post.title }}</h3></a>
            <span>{{ post.created }}</span>
        </div>
    <pre>
        {{ post.content }}
    </pre>
    </article>

    {% endfor %}

    <ul id="blogNav">

        {% if next_page %}
        <li>
            <span><a href="/blog/?page={{ next_page }}">&larr; View Newer Posts</a></span>
        </li>
        {% endif %}
        {% if previous_page %}
        <li>
            <span><a href="/blog/?page={{ previous_page }}">View Older Posts &rarr;</a></span>
        </li>
        {% endif %}
    </ul>

{% endblock %}
