{% extends "base.html" %}

{% block content %}
    {% if error %}
    <div class="error">
        <span>No such post with ID#{{ error }}</span>
    </div>
    {% endif %}
    {% for post in posts %}

    <article class="blogPageBlock">
        <div class="blogPostHeader">
            <a href="/blog/{{post.key().id()}}" class="postTitle"><h2>{{ post.title }}</h2></a>
            <span class="postDate">{{ post.created.strftime('Created at %I:%M%p on %m/%d/%Y') }}</span>
        </div>
    <p class="postContent">
        {{ post.content | truncate(500) | safe }}<a href="/blog/{{post.key().id()}}" class="blogPageContinue"> Continue &rarr;</a>
    </p>
    </article>

    {% endfor %}

    <ul id="blogNav">

        {% if next_page %}
        <li>
            <span><a href="/blog/?page={{ next_page }}">&larr; View Newer Posts</a></span>
        </li>
        {% endif %}
        {% if previous_page %}
        <li>
            <span><a href="/blog/?page={{ previous_page }}">View Older Posts &rarr;</a></span>
        </li>
        {% endif %}
    </ul>

{% endblock %}
