{% if min_header %}
{% set min_header = "min_header" %}
{% endif %}

{% block header %}
<header class="base {{ min_header }}">
    <div id="headerWrapper">
        <div id="pageLogotype">
            <a href="/">
            <h1 id="pageTitle">Build a Blog</h1>
            <h3 id="pageSubtitle">A LC101 Project</h3>
            </a>
        </div>
        <ul id="pageNav">
            <!--<li><a href="/">Home</a></li>-->
            <li><a href="/blog">Blog</a></li>
            <li><a href="/newpost">Create New Post</a></li>
        </ul>
    </div>
</header>
{% endblock %}
