{% extends "base.html" %}
{% set min_header = True %}

{% block content %}
<article class="single_post">
    <div class="postHeader">
        <div class="postTitle"><h2>{{ post.title }}</h2></div>
        <span class="postDate">{{ post.created.strftime('Created at %H:%M on %m/%d/%Y') }}</span>
    </div>
    <p class="postContent">
        {{ post.content | safe }}
    </p>
</article>
<ul id="blogNav">

    {% if post.next_post_id %}
    <li>
        <span><a href="/blog/{{ post.next_post_id }}">&larr; View Newer</a></span>
    </li>
    {% endif %}
    {% if post.previous_post_id %}
    <li>
        <span><a href="/blog/{{ post.previous_post_id }}">View Older &rarr;</a></span>
    </li>
    {% endif %}
</ul>
{% endblock %}
